<div class="flex">
	<div class="flex"></div>
	<div>
		<select id="levelTravel">
			<option value="all"><em>Whole country</em></option>
			<option value="Ale Kommun">Ale Kommun</option>
            <option value="Alingsås Kommun">Alingsås Kommun</option>
            <option value="Alvesta Kommun">Alvesta Kommun</option>
            <option value="Aneby Kommun">Aneby Kommun</option>
            <option value="Arboga Kommun">Arboga Kommun</option>
            <option value="Arjeplogs Kommun">Arjeplogs Kommun</option>
            <option value="Arvidsjaurs Kommun">Arvidsjaurs Kommun</option>
            <option value="Arvika Kommun">Arvika Kommun</option>
            <option value="Askersunds Kommun">Askersunds Kommun</option>
            <option value="Avesta Kommun">Avesta Kommun</option>
            <option value="Bengtsfors Kommun">Bengtsfors Kommun</option>
            <option value="Bergs Kommun">Bergs Kommun</option>
            <option value="Bjurholms Kommun">Bjurholms Kommun</option>
            <option value="Bjuvs Kommun">Bjuvs Kommun</option>
            <option value="Bodens Kommun">Bodens Kommun</option>
            <option value="Bollnäs Kommun">Bollnäs Kommun</option>
            <option value="Borgholms Kommun">Borgholms Kommun</option>
            <option value="Borlänge Kommun">Borlänge Kommun</option>
            <option value="Borås">Borås</option>
            <option value="Botkyrka Kommun">Botkyrka Kommun</option>
            <option value="Boxholms Kommun">Boxholms Kommun</option>
            <option value="Bromölla Kommun">Bromölla Kommun</option>
            <option value="Bräcke Kommun">Bräcke Kommun</option>
            <option value="Båstads Kommun">Båstads Kommun</option>
            <option value="Dals-Ed Kommun">Dals-Ed Kommun</option>
            <option value="Danderyds Kommun">Danderyds Kommun</option>
            <option value="Degerfors Kommun">Degerfors Kommun</option>
            <option value="Dorotea Kommun">Dorotea Kommun</option>
            <option value="Eda kommun">Eda kommun</option>
            <option value="Ekerö Kommun">Ekerö Kommun</option>
            <option value="Eksjö Kommun">Eksjö Kommun</option>
            <option value="Emmaboda Kommun">Emmaboda Kommun</option>
            <option value="Enköpings Kommun">Enköpings Kommun</option>
            <option value="Eskilstuna Kommun">Eskilstuna Kommun</option>
            <option value="Eslövs Kommun">Eslövs Kommun</option>
            <option value="Essunga Kommun">Essunga Kommun</option>
            <option value="Fagersta Kommun">Fagersta Kommun</option>
            <option value="Falkenbergs Kommun">Falkenbergs Kommun</option>
            <option value="Falköpings Kommun">Falköpings Kommun</option>
            <option value="Falu kommun">Falu kommun</option>
            <option value="Filipstads Kommun">Filipstads Kommun</option>
            <option value="Finspångs Kommun">Finspångs Kommun</option>
            <option value="Flens Kommun">Flens Kommun</option>
            <option value="Forshaga Kommun">Forshaga Kommun</option>
            <option value="Färgelanda Kommun">Färgelanda Kommun</option>
            <option value="Gagnefs Kommun">Gagnefs Kommun</option>
            <option value="Gislaveds Kommun">Gislaveds Kommun</option>
            <option value="Gnesta Kommun">Gnesta Kommun</option>
            <option value="Gnosjö Kommun">Gnosjö Kommun</option>
            <option value="Gotland">Gotland</option>
            <option value="Grums Kommun">Grums Kommun</option>
            <option value="Grästorps Kommun">Grästorps Kommun</option>
            <option value="Gullspångs Kommun">Gullspångs Kommun</option>
            <option value="Gällivare kommun">Gällivare kommun</option>
            <option value="Gävle Kommun">Gävle Kommun</option>
            <option value="Göteborgs stad">Göteborgs stad</option>
            <option value="Götene Kommun">Götene Kommun</option>
            <option value="Habo Kommun">Habo Kommun</option>
            <option value="Hagfors Kommun">Hagfors Kommun</option>
            <option value="Hallsbergs Kommun">Hallsbergs Kommun</option>
            <option value="Hallstahammars Kommun">Hallstahammars Kommun</option>
            <option value="Halmstads Kommun">Halmstads Kommun</option>
            <option value="Hammarö Kommun">Hammarö Kommun</option>
            <option value="Haninge Kommun">Haninge Kommun</option>
            <option value="Haparanda Kommun">Haparanda Kommun</option>
            <option value="Heby kommun">Heby kommun</option>
            <option value="Hedemora Kommun">Hedemora Kommun</option>
            <option value="Helsingborg">Helsingborg</option>
            <option value="Herrljunga Kommun">Herrljunga Kommun</option>
            <option value="Hjo Kommun">Hjo Kommun</option>
            <option value="Hofors Kommun">Hofors Kommun</option>
            <option value="Huddinge Kommun">Huddinge Kommun</option>
            <option value="Hudiksvalls Kommun">Hudiksvalls Kommun</option>
            <option value="Hultsfreds Kommun">Hultsfreds Kommun</option>
            <option value="Hylte Kommun">Hylte Kommun</option>
            <option value="Hällefors Kommun">Hällefors Kommun</option>
            <option value="Härjedalens kommun">Härjedalens kommun</option>
            <option value="Härnösands Kommun">Härnösands Kommun</option>
            <option value="Härryda Kommun">Härryda Kommun</option>
            <option value="Hässleholms Kommun">Hässleholms Kommun</option>
            <option value="Håbo kommun">Håbo kommun</option>
            <option value="Höganäs Kommun">Höganäs Kommun</option>
            <option value="Högsby Kommun">Högsby Kommun</option>
            <option value="Hörby Kommun">Hörby Kommun</option>
            <option value="Höörs Kommun">Höörs Kommun</option>
            <option value="Jokkmokks Kommun">Jokkmokks Kommun</option>
            <option value="Järfälla kommun">Järfälla kommun</option>
            <option value="Jönköpings Kommun">Jönköpings Kommun</option>
            <option value="Kalix Kommun">Kalix Kommun</option>
            <option value="Kalmar Kommun">Kalmar Kommun</option>
            <option value="Karlsborgs Kommun">Karlsborgs Kommun</option>
            <option value="Karlshamns kommun">Karlshamns kommun</option>
            <option value="Karlskoga Kommun">Karlskoga Kommun</option>
            <option value="Karlskrona Kommun">Karlskrona Kommun</option>
            <option value="Karlstads Kommun">Karlstads Kommun</option>
            <option value="Katrineholms Kommun">Katrineholms Kommun</option>
            <option value="Kils Kommun">Kils Kommun</option>
            <option value="Kinda Kommun">Kinda Kommun</option>
            <option value="Kiruna Kommun">Kiruna Kommun</option>
            <option value="Klippans Kommun">Klippans Kommun</option>
            <option value="Knivsta Kommun">Knivsta Kommun</option>
            <option value="Kramfors Kommun">Kramfors Kommun</option>
            <option value="Kristianstads kommun">Kristianstads kommun</option>
            <option value="Kristinehamns Kommun">Kristinehamns Kommun</option>
            <option value="Krokoms Kommun">Krokoms Kommun</option>
            <option value="Kumla Kommun">Kumla Kommun</option>
            <option value="Kungsbacka Kommun">Kungsbacka Kommun</option>
            <option value="Kungsörs kommun">Kungsörs kommun</option>
            <option value="Kungälvs Kommun">Kungälvs Kommun</option>
            <option value="Kävlinge Kommun">Kävlinge Kommun</option>
            <option value="Köpings Kommun">Köpings Kommun</option>
            <option value="Laholms Kommun">Laholms Kommun</option>
            <option value="Landskrona">Landskrona</option>
            <option value="Laxå Kommun">Laxå Kommun</option>
            <option value="Lekebergs Kommun">Lekebergs Kommun</option>
            <option value="Leksands kommun">Leksands kommun</option>
            <option value="Lerums Kommun">Lerums Kommun</option>
            <option value="Lessebo Kommun">Lessebo Kommun</option>
            <option value="Lidingö">Lidingö</option>
            <option value="Lidköpings Kommun">Lidköpings Kommun</option>
            <option value="Lilla Edets Kommun">Lilla Edets Kommun</option>
            <option value="Lindesbergs Kommun">Lindesbergs Kommun</option>
            <option value="Linköpings Kommun">Linköpings Kommun</option>
            <option value="Ljungby Kommun">Ljungby Kommun</option>
            <option value="Ljusdals Kommun">Ljusdals Kommun</option>
            <option value="Ljusnarsbergs Kommun">Ljusnarsbergs Kommun</option>
            <option value="Lomma Kommun">Lomma Kommun</option>
            <option value="Ludvika Kommun">Ludvika Kommun</option>
            <option value="Luleå kommun">Luleå kommun</option>
            <option value="Lunds Kommun">Lunds Kommun</option>
            <option value="Lycksele kommun">Lycksele kommun</option>
            <option value="Lysekils Kommun">Lysekils Kommun</option>
            <option value="Malmö">Malmö</option>
            <option value="Malung-Sälens kommun">Malung-Sälens kommun</option>
            <option value="Malå Kommun">Malå Kommun</option>
            <option value="Mariestads Kommun">Mariestads Kommun</option>
            <option value="Markaryds Kommun">Markaryds Kommun</option>
            <option value="Marks Kommun">Marks Kommun</option>
            <option value="Melleruds Kommun">Melleruds Kommun</option>
            <option value="Mjölby Kommun">Mjölby Kommun</option>
            <option value="Mora Kommun">Mora Kommun</option>
            <option value="Motala Kommun">Motala Kommun</option>
            <option value="Mullsjö kommun">Mullsjö kommun</option>
            <option value="Munkedals Kommun">Munkedals Kommun</option>
            <option value="Munkfors Kommun">Munkfors Kommun</option>
            <option value="Mölndals kommun">Mölndals kommun</option>
            <option value="Mönsterås Kommun">Mönsterås Kommun</option>
            <option value="Mörbylånga Kommun">Mörbylånga Kommun</option>
            <option value="Nacka Kommun">Nacka Kommun</option>
            <option value="Nora Kommun">Nora Kommun</option>
            <option value="Norbergs Kommun">Norbergs Kommun</option>
            <option value="Nordanstigs kommun">Nordanstigs kommun</option>
            <option value="Nordmalings Kommun">Nordmalings Kommun</option>
            <option value="Norrköpings Kommun">Norrköpings Kommun</option>
            <option value="Norrtälje Kommun">Norrtälje Kommun</option>
            <option value="Norsjö Kommun">Norsjö Kommun</option>
            <option value="Nybro Kommun">Nybro Kommun</option>
            <option value="Nyköpings Kommun">Nyköpings Kommun</option>
            <option value="Nynäshamns kommun">Nynäshamns kommun</option>
            <option value="Nässjö Kommun">Nässjö Kommun</option>
            <option value="Ockelbo Kommun">Ockelbo Kommun</option>
            <option value="Olofströms Kommun">Olofströms Kommun</option>
            <option value="Orsa Kommun">Orsa Kommun</option>
            <option value="Orust">Orust</option>
            <option value="Osby kommun">Osby kommun</option>
            <option value="Oskarshamns Kommun">Oskarshamns Kommun</option>
            <option value="Ovanåkers Kommun">Ovanåkers Kommun</option>
            <option value="Oxelösunds Kommun">Oxelösunds Kommun</option>
            <option value="Pajala Kommun">Pajala Kommun</option>
            <option value="Partille Kommun">Partille Kommun</option>
            <option value="Perstorps Kommun">Perstorps Kommun</option>
            <option value="Piteå Kommun">Piteå Kommun</option>
            <option value="Ragunda Kommun">Ragunda Kommun</option>
            <option value="Robertsfors Kommun">Robertsfors Kommun</option>
            <option value="Ronneby Kommun">Ronneby Kommun</option>
            <option value="Rättviks Kommun">Rättviks Kommun</option>
            <option value="Sala kommun">Sala kommun</option>
            <option value="Salems Kommun">Salems Kommun</option>
            <option value="Sandvikens Kommun">Sandvikens Kommun</option>
            <option value="Sigtuna Kommun">Sigtuna Kommun</option>
            <option value="Simrishamns kommun">Simrishamns kommun</option>
            <option value="Sjöbo Kommun">Sjöbo Kommun</option>
            <option value="Skara Kommun">Skara Kommun</option>
            <option value="Skellefteå Kommun">Skellefteå Kommun</option>
            <option value="Skinnskattebergs Kommun">Skinnskattebergs Kommun</option>
            <option value="Skurups Kommun">Skurups Kommun</option>
            <option value="Skövde Kommun">Skövde Kommun</option>
            <option value="Smedjebackens Kommun">Smedjebackens Kommun</option>
            <option value="Sollefteå Kommun">Sollefteå Kommun</option>
            <option value="Sollentuna Kommun">Sollentuna Kommun</option>
            <option value="Sorsele Kommun">Sorsele Kommun</option>
            <option value="Sotenäs Kommun">Sotenäs Kommun</option>
            <option value="Staffanstorps Kommun">Staffanstorps Kommun</option>
            <option value="Stenungsunds Kommun">Stenungsunds Kommun</option>
            <option value="Stockholms Kommun" selected="selected">Stockholms Kommun</option>
            <option value="Storfors Kommun">Storfors Kommun</option>
            <option value="Storumans Kommun">Storumans Kommun</option>
            <option value="Strängnäs Kommun">Strängnäs Kommun</option>
            <option value="Strömstads Kommun">Strömstads Kommun</option>
            <option value="Strömsunds kommun">Strömsunds kommun</option>
            <option value="Sundbybergs Kommun">Sundbybergs Kommun</option>
            <option value="Sundsvalls Kommun">Sundsvalls Kommun</option>
            <option value="Sunne Kommun">Sunne Kommun</option>
            <option value="Surahammars Kommun">Surahammars Kommun</option>
            <option value="Svalövs Kommun">Svalövs Kommun</option>
            <option value="Svedala Kommun">Svedala Kommun</option>
            <option value="Svenljunga Kommun">Svenljunga Kommun</option>
            <option value="Säffle Kommun">Säffle Kommun</option>
            <option value="Säters Kommun">Säters Kommun</option>
            <option value="Sävsjö Kommun">Sävsjö Kommun</option>
            <option value="Söderhamns Kommun">Söderhamns Kommun</option>
            <option value="Söderköpings Kommun">Söderköpings Kommun</option>
            <option value="Södertälje Kommun">Södertälje Kommun</option>
            <option value="Sölvesborgs kommun">Sölvesborgs kommun</option>
            <option value="Tanums Kommun">Tanums Kommun</option>
            <option value="Tibro Kommun">Tibro Kommun</option>
            <option value="Tidaholms kommun">Tidaholms kommun</option>
            <option value="Tierps kommun">Tierps kommun</option>
            <option value="Timrå Kommun">Timrå Kommun</option>
            <option value="Tingsryds Kommun">Tingsryds Kommun</option>
            <option value="Tjörns Kommun">Tjörns Kommun</option>
            <option value="Tomelilla Kommun">Tomelilla Kommun</option>
            <option value="Torsby Kommun">Torsby Kommun</option>
            <option value="Torsås Kommun">Torsås Kommun</option>
            <option value="Tranemo Kommun">Tranemo Kommun</option>
            <option value="Tranås Kommun">Tranås Kommun</option>
            <option value="Trelleborgs Kommun">Trelleborgs Kommun</option>
            <option value="Trollhättan">Trollhättan</option>
            <option value="Trosa Kommun">Trosa Kommun</option>
            <option value="Tyresö Kommun">Tyresö Kommun</option>
            <option value="Täby Kommun">Täby Kommun</option>
            <option value="Töreboda Kommun">Töreboda Kommun</option>
            <option value="Uddevalla Kommun">Uddevalla Kommun</option>
            <option value="Ulricehamns Kommun">Ulricehamns Kommun</option>
            <option value="Umeå Kommun">Umeå Kommun</option>
            <option value="Upplands Väsby kommun">Upplands Väsby kommun</option>
            <option value="Upplands-Bro Kommun">Upplands-Bro Kommun</option>
            <option value="Uppsala Kommun">Uppsala Kommun</option>
            <option value="Uppvidinge Kommun">Uppvidinge Kommun</option>
            <option value="Vadstena Kommun">Vadstena Kommun</option>
            <option value="Vaggeryds Kommun">Vaggeryds Kommun</option>
            <option value="Valdemarsviks Kommun">Valdemarsviks Kommun</option>
            <option value="Vallentuna Kommun">Vallentuna Kommun</option>
            <option value="Vansbro Kommun">Vansbro Kommun</option>
            <option value="Vara Kommun">Vara Kommun</option>
            <option value="Varbergs Kommun">Varbergs Kommun</option>
            <option value="Vaxholms Kommun">Vaxholms Kommun</option>
            <option value="Vellinge Kommun">Vellinge Kommun</option>
            <option value="Vetlanda kommun">Vetlanda kommun</option>
            <option value="Vilhelmina Kommun">Vilhelmina Kommun</option>
            <option value="Vimmerby Kommun">Vimmerby Kommun</option>
            <option value="Vindelns Kommun">Vindelns Kommun</option>
            <option value="Vingåkers Kommun">Vingåkers Kommun</option>
            <option value="Vänersborgs Kommun">Vänersborgs Kommun</option>
            <option value="Vännäs Kommun">Vännäs Kommun</option>
            <option value="Värmdö Kommun">Värmdö Kommun</option>
            <option value="Värnamo Kommun">Värnamo Kommun</option>
            <option value="Västerviks Kommun">Västerviks Kommun</option>
            <option value="Västerås">Västerås</option>
            <option value="Växjö Kommun">Växjö Kommun</option>
            <option value="Vårgårda Kommun">Vårgårda Kommun</option>
            <option value="Ydre Kommun">Ydre Kommun</option>
            <option value="Ystads Kommun">Ystads Kommun</option>
            <option value="Älmhults Kommun">Älmhults Kommun</option>
            <option value="Älvdalens kommun">Älvdalens kommun</option>
            <option value="Älvkarleby Kommun">Älvkarleby Kommun</option>
            <option value="Älvsbyns Kommun">Älvsbyns Kommun</option>
            <option value="Ängelholms Kommun">Ängelholms Kommun</option>
            <option value="Åmåls Kommun">Åmåls Kommun</option>
            <option value="Ånge kommun">Ånge kommun</option>
            <option value="Åre kommun">Åre kommun</option>
            <option value="Årjängs Kommun">Årjängs Kommun</option>
            <option value="Åsele Kommun">Åsele Kommun</option>
            <option value="Åstorps Kommun">Åstorps Kommun</option>
            <option value="Åtvidabergs Kommun">Åtvidabergs Kommun</option>
            <option value="Öckerö Kommun">Öckerö Kommun</option>
            <option value="Ödeshögs Kommun">Ödeshögs Kommun</option>
            <option value="Örebro Kommun">Örebro Kommun</option>
            <option value="Örkelljunga Kommun">Örkelljunga Kommun</option>
            <option value="Örnsköldsviks Kommun">Örnsköldsviks Kommun</option>
            <option value="Östersunds Kommun">Östersunds Kommun</option>
            <option value="Österåkers Kommun">Österåkers Kommun</option>
            <option value="Östhammars Kommun">Östhammars Kommun</option>
            <option value="Östra Göinge Kommun">Östra Göinge Kommun</option>
            <option value="Överkalix Kommun">Överkalix Kommun</option>
            <option value="Övertorneå Kommun">Övertorneå Kommun</option>
		</select>
	</div>
</div>

<div class='vis' id="visTravel"></div>


<!-- JavaScript -->
<!-- ---------- -->

<!-- Imports -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Code -->
<script>

	function travelvis() {

		// Globals //
		// ------- //

		let data, time;
		let level = "all",
			mode = 'count';


		// ----- //
		// Setup //
		// ----- //

		// Dimensions and margins
		let maindiv = document.getElementById("visTravel")
		let width = maindiv.offsetWidth - margin.left - margin.right,
			height = figureHeight - margin.top - margin.bottom;

		// Set the ranges
		let x = d3.scaleTime().range([0, width]);
		let y = d3.scaleLinear().range([height, 0]);

		// Define the axes
		// let formatPercent = d3.format(".0%");
		let xAxis = d3.axisBottom(x);
		let yAxis = d3.axisLeft(y).ticks(5);

		// Define the line
		let valueline = d3.line()
			.x(function(d) { return x(d[0]); })
			.y(function(d) { return y(d[1]); });

		// Adds the svg canvas
		let svg = d3.select("#visTravel")
			.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			.append("g")
				.attr("transform", 
						"translate(" + margin.left + "," + margin.top + ")");

		// TITLE
		svg.append("text")
			.attr("x", width/2)
			.attr("y", -15)
			.style("text-anchor", "middle")
			.style("font-weight", 700)
			.text("Per capita travel");

		// Toggle relative
		svg.append("text")
			.attr("x", -60)
			.attr("y", -15)
			.attr('class', 'toggle')
			.attr("id", 'toggleRelativetravel')
			.style("text-anchor", "left")
			.style("font-weight", 300)
			.style('cursor', 'pointer')
			.text("rel")
			.on('click', handleTextClickTravel);
		// Toggle abs
		svg.append("text")
			.attr("x", -37)
			.attr("y", -15)
			.attr('class', 'toggle')
			.attr("id", "toggleAbstravel")
			.style("text-anchor", "left")
			.style("font-weight", 700)
			.style('cursor', 'pointer')
			.text("abs")
			.on('click', handleTextClickTravel);

		// Start the visualization //
		// ----------------------- //
		d3.json("/data/Sweden_total_displacement.json").then(function(data_) {

			// DATA
			data = data_;

			// TIME
			time = data._meta.datetime.map(d => parseDate(d));
			let dt = d3.max(time);
			let d0 = parseDate(startDate);
			let n_days = (dt - d0 + 3.6e6) / 86.4e6
			let time_shown = d3.range(n_days+1).map(n => d0.addDays(n));

			// SCALE
			let yrange = [0, d3.max(data[level]['crisis'])*1.2]
			x.domain(d3.extent(time_shown));
			y.domain(yrange);

			// WEEKEND SHADES
			let idxwknd = d3.range(4, time_shown.length, 7);
			let dx = x(time[2]) - x(time[0]);
			let dy = y(yrange[0]) - y(yrange[1]);
			svg.selectAll('shade')
				.data(idxwknd)
				.enter().append("rect")
				.attr("class", "shade")
				.attr("x", d => {
					return d == 0 ? x(time_shown[d]) : x(time_shown[d]) - dx/4
				})
				.attr("y", d => y(yrange[1]))
				.attr("width", d => {
					if (d == 0 | d == time_shown.length - 2) {
						return dx * 3/4;
					} else if (d == time_shown.length - 1) {
						return dx * 1/4;
					} else {
						return dx;
					}
				})
				.attr("height", dy)
				.style('fill', '#ecf0f1')
				.style('fill-opacity', 1)

			// NO DATA SHADE
			svg.append('rect')
				.attr('x', x(time_shown[0]))
				.attr('y', y(yrange[1]))
				.attr('width', x(time[0]) - x(time_shown[0]))
				.attr('height', dy)
				.attr('fill', 'url(#lines)')
				.attr('stroke-width', 1.5)
				.attr('fill-opacity', 0.2)
			svg.append('text')
				.attr('x', 10)
				.attr('y', 20)
				.style("font-weight", 0)
				.style("font-size", "12px")
				.text('NO DATA')

			// X-AXiS
			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);

			// EVENT LINES
			for (let d of eventDates) {  // eventDates is defined in /static/eventLines.js
				svg.append('line')
					.attr('class', 'histEvent')
					.attr('id', d[2] + "travel")
					.attr('x1', x(parseDate(d[0])))
					.attr('x2', x(parseDate(d[0])))
					.attr('y1', height)
					.attr('y2', height)
				svg.append('circle')
					.attr('class', 'histEventDot')
					.attr('cx', x(parseDate(d[0])))
					.attr('cy', height)
					.attr('r', 3)	
					.on('mouseover', mouseover)
					.on('mousemove', () => {
						mousemoveHistEvent(d);
						d3.select("#" + d[2] + "travel").attr('y2', 0)
					})
					.on('mouseout', () => {
						mouseout();
						d3.select("#" + d[2] + "travel").attr('y2', height)
					})
			}

			// LEGENDS
			svg.append('line')
				.attr('class', 'line')
				.attr('x1', width+10)
				.attr('x2', width+30)
				.attr('y1', 10)
				.attr('y2', 10)
			svg.append('circle')
				.attr('class', 'dot')
				.attr('cx', width+20)
				.attr('cy', 10)
				.attr('r', 2.5)
			svg.append('text')
				.attr('class', 'right-legend')
				.attr('x', width+35)
				.attr('y', 10+4)
				.text('daily')
			svg.append('line')
				.attr('class', 'line-baseline')
				.attr('x1', width+10)
				.attr('x2', width+30)
				.attr('y1', 30)
				.attr('y2', 30)
			svg.append('text')
				.attr('class', 'right-legend')
				.attr('x', width+35)
				.attr('y', 30+4)
				.text('baseline')
			svg.append('line')
				.attr('class', 'trendline')
				.attr('x1', width+10)
				.attr('x2', width+30)
				.attr('y1', 50)
				.attr('y2', 50)
			svg.append('text')
				.attr('class', 'right-legend')
				.attr('x', width+35)
				.attr('y', 50+4)
				.text('7 day avg')
			
			visualize(data, level);
		})

		d3.select('#levelTravel')
			.on("change", () => {
				let dropdown = document.getElementById("levelTravel");
				level = dropdown.options[dropdown.selectedIndex].value;
				d3.selectAll("#dataTravel").remove();
				visualize(data, level);
			});

		// Handle data //
		// ----------- //

		function visualize(data, level) {

			if (mode == 'count') {
				yrange = [0, d3.max([...data[level]['crisis'], ...data[level]['baseline']])*1.2]
				yAxis = d3.axisLeft(y).ticks(6).tickFormat(v => v)
				y.domain(yrange);

				// Y-AXIS
				svg.append("g")
					.attr("class", "y axis")
					.attr("id", "dataTravel")
					.call(yAxis);

				// Y LABEL
				svg.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", -40)
					.attr("x", -height / 2)
					.attr("id", "dataTravel")
					.style("text-anchor", "middle")
					.style("font-weight", 500)
					.text("Daily dist. traveled [km]");

				// LINES AND DOTS
				let datum = zip(time, data[level]['baseline']);
				datum = adjustBaseline(datum);
				svg.append("path")
					.datum(datum)
					.attr('class', 'line-baseline')
					.attr("id", "dataTravel")
					.attr('d', valueline)
				svg.selectAll("dot-baseline")
					.data(datum)
					.enter().append("circle")
					.attr("class", "dot-baseline")
					.attr("id", "dataTravel")
					.attr("cx", d => x(d[0]))
					.attr("cy", d => y(d[1]))
					.attr("r", 3.5)
					.on('mouseover', mouseover)
					.on('mousemove', mousemoveDot)
					.on("mouseout", mouseout);
				datum = zip(time, weekavg(data[level]['crisis']))
				svg.append("path")
					.datum(datum)
					.attr('class', 'trendline')
					.attr("id", "dataTravel")
					.attr('d', valueline)
				datum = zip(time, data[level]['crisis'])
				svg.append("path")
					.datum(datum)
					.attr('class', 'line')
					.attr("id", "dataTravel")
					.attr('d', valueline)
				svg.selectAll("dot")
					.data(datum)
					.enter().append("circle")
					.attr("class", "dot")
					.attr("id", "dataTravel")
					.attr("cx", d => x(d[0]))
					.attr("cy", d => y(d[1]))
					.attr("r", 2.5)
					.on('mouseover', mouseover)
					.on('mousemove', mousemoveDot)
					.on("mouseout", mouseout);

			} else if (mode == 'relative') {
				yAxis = d3.axisLeft(y).ticks(6, ".0%")
				yrange = [-1, 0.2]
				y.domain(yrange);

				// Y-AXIS
				svg.append("g")
					.attr("class", "y axis")
					.attr("id", "dataTravel")
					.call(yAxis);

				// Y LABEL
				svg.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", -40)
					.attr("x", -height / 2)
					.attr("id", "dataTravel")
					.style("text-anchor", "middle")
					.style("font-weight", 500)
					.text("Deviation from baseline");

				// LINE AND DOT
				datum = zip(time, weekavg(data[level]['percent_change']))
				svg.append("path")
					.datum(datum)
					.attr('class', 'trendline')
					.attr("id", "dataTravel")
					.attr('d', valueline)
				datum = zip(time, data[level]['percent_change'])
				svg.append("path")
					.datum(datum)
					.attr('class', 'line')
					.attr("id", "dataTravel")
					.attr('d', valueline)
				svg.selectAll("dot")
					.data(datum)
					.enter().append("circle")
					.attr("class", "dot")
					.attr("id", "dataTravel")
					.attr("cx", d => x(d[0]))
					.attr("cy", d => y(d[1]))
					.attr("r", 2.5)
					.on('mouseover', mouseover)
					.on('mousemove', mousemoveDot)
					.on("mouseout", mouseout);

				// Vertical line at zero
				datum = zip(time, data[level]['percent_change'].map(() => 0))
				svg.append("path")
					.datum(datum)
					.attr('class', 'line-horizontal')
					.attr("id", "dataTravel")
					.attr('d', valueline)
			}
		}

		// Handlers //
		// -------- //

		// Mouseover data
		function mousemoveDot(d) {
			let tooltiptext;
			if (mode == 'relative') {
				tooltiptext = "Date: <b>" + formatDate(d[0]) + "</b><br>" + "Deviation: <b>" + Math.round(d[1]*100*1e1)/1e1 + "%</b>"
			} else {
				tooltiptext = "Date: <b>" + formatDate(d[0]) + "</b><br>" + "Distance: <b>" + round(d[1] * 1000, 1e1) + " m</b>"
			}
			tooltip
				.html(tooltiptext)
				.style("left", (d3.event.pageX) + "px")
				.style("top", (d3.event.pageY) + "px");
		}
		function handleTextClickTravel() {
			if (mode == 'count') {
				d3.select('#toggleRelativetravel')
					.style('font-weight', 700);
				d3.select('#toggleAbstravel')
					.style('font-weight', 300);
				mode = "relative";
			} else {
				d3.select('#toggleRelativetravel')
					.style('font-weight', 300);
				d3.select('#toggleAbstravel')
					.style('font-weight', 700);
				mode = "count";
			}
			d3.selectAll("#dataTravel").remove();
			visualize(data, level);
		}
		function update0() {
			d3.selectAll("#dataTravel").remove();
			level = 'all';
			visualize(data, level);
		}
		function update1() {
			d3.selectAll("#dataTravel").remove();
			level = 'within_kommune';
			visualize(data, level);
		}
		function update2() {
			d3.selectAll("#dataTravel").remove();
			level = 'within_region';
			visualize(data, level);
		}

		return {
			update0: update0,
			update1: update1,
			update2: update2
		}
	}

	// Start figure
	let instance_travel = travelvis()
</script>